body {
	background: url(https://i.pinimg.com/originals/53/10/ae/5310ae364e5fc686bc959696c664945d.jpg);
	background-size:cover;
	margin: 0;
    padding: 0;
}

.header {
	background-color: rgb(255, 255, 255);
	color: rgb(7, 0, 0);
	display: flex;
	justify-content: center;
	margin: 0 auto;
	float:center;
	padding: 20px 12px;
	font-family:cursive;
	font-size: 20px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.main {
	padding-top: 20rem;
}

.menu-icon {
	display: none;
	padding: 1104px;
}

header a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.logo_nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 1rem;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	display: block;
	padding: 0.5rem 5rem;
}

.nav ul li a:hover {
	background:rgb(206, 205, 205) ;
}

.logo {
	letter-spacing: 7px;
	font-size: 1.3em;
}

.img_logo{
	width: 150px;
	height: 150px;
}
footer {
	height: 40px;
	background-color: azure;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: flex-end;
	padding: 60px;
}

.img_footer {
	width: 100px;
}
 
 
p {
	align-items: center;
	text-align: center;
	font-family: cursive;

}

.container {
	position: auto;
	left: 100px;
	width: 100%;
	top: 150px;
	max-width: 1800px;
	margin: 0 auto;
}

h1 {
	font-size: 2 rem;
	line-height: 1.3em;
	text-align: center;
	font-family: cursive;
}


.btne {
	position: left;
	width:110px;
	height:50px;
	background-color: #06860c;
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	justify-content: center;
	margin: 0 auto;
	padding: 15px;
	border-radius: 30px;
	border-top-style: dotted;
}

*{
    box-sizing: border-box;
}

img{
    width: 60%;
    
}

.row{
    display: flex;
    padding: 5px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.column{
    flex: 20%;
    padding: 10px;
    
}

.column img{
    margin-top: 5px;
}

@media (max-width: 800px){
    .column{
      flex: 50%;  
    }
}

@media (max-width: 600px){
    .column{
      flex: 100%;  
    }
}